.about{	
	&-heading{
		position: absolute;
		top: 29px;
		left: 43%;
		color: $brand-primary;
		text-transform: uppercase;
		background: #32316c;
		z-index: 100;
		width: 150px;
		height: 20px;
		>h3{
			margin: 0;
		}
	}
	&-desc{
		position: relative;
		padding: 60px;
		font-family: $font-family-sans-serif;
    font-size: 25px;
    border: 1px solid #fff;
    p{
    	color: rgba(255, 255, 255, .75);
    }    
    p > b{ 
    	color: rgba(255, 255, 255, 1);
    } 
	}
}