$block-heading-color: #0f5f5c;
$h2-font-weight: 300;
$h1-font-weight: 400;

.block {

	padding: 40px 0;
	background-size: cover;
	background-position: 50% 50%;
	display: table;
	width: 100%;
	table-layout: fixed;
	&-header {
		display: table-header-group;
		height: 1%;
	}
	&-content {
		display: table-row-group;
	}
	&-footer {
		display: table-footer-group;
		height: 1%;
	}
	&-inner {
		display: table-cell;
		vertical-align: middle;
	}
	&-pad-lg{
		padding: 60px 0;
	}
	&-collapse {
		padding: 0;
	}
	&-fill-height {
		height: 100vh;
	}
	&-full-height{
		height: 100%;
	}
	&-inverse {
		color: #fff;
	}
	&-overlay {
		position: relative;
		z-index: 1;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			background-color: #1d1822;
			opacity: 0.3;
		}		
	}
	&-overlay2{
		position: relative;
		z-index: 1;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			background-color: #ff1791;
			opacity: 0.17;
		}		
	}
	&-image{
		img{
			width: 100%;
		}		
	}
	
}


