.contact-form{
  padding: 24px;
  background: $gray-light; 
  opacity: 0.9;   
  text-align: center;
  >h4{
  	color: $brand-primary;
  	text-transform: uppercase;
  }ery
  >p{
  	color: $brand-secondary;
  }
  .btn{
  	@include button-size(14px, 80px, 14px, 1.1, 0);
  	text-transform: uppercase;
  	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  }
  .form-control{
    padding: 6px 40px;
  }
  .form-group{
    position: relative;
  }
  .form-icon{
      position: absolute;
      top: 10px;
      left: 15px;
  }
 }


