#myCarousel{
	margin-bottom: 50px;
	.carousel{
		&-control{
			background-color: $brand-primary;
			&.left{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-image: none;
				left: -8%;
		    top: 45%;
			}
			&.right{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-image: none;
				right: -8%;
		    top: 45%;
			}
		}
	}
}

.gallery{
	padding: 0 15px;
	.thumbnail{
		background-color: #2b1940;
		margin-bottom: 4px;
		padding: 0;
		border: 0;
		&:first-child{
			border-top: 1px solid $brand-primary;
		}		
		width: 100%;
		>img{
			width: 100%;
			border: 1px solid $brand-primary;
			&:hover{
				opacity: 0.75;
			}	
		}
	}
	[class*="col-"]{
		padding-left: 2px;
		padding-right: 2px;
	}
	.caption{
		text-align: center;
		>h2{
			font-size: 2.5vw;
		}
		>h2>span{			
			color: $brand-primary;
			text-transform: uppercase;
		}		
	}	
}

@media screen and (min-width: $screen-xs-min ) {
	.gallery{
		.thumbnail{		
			height: 25vw;
			>img{
				height: 25vw;			
			}
		}
	}
	#myCarousel{
		.carousel{
			&-control{			
				&.left{
				top: 105%;	
				left: 40%;			
				}
				&.right{
				top: 105%;	
				right: 40%;				
				}
			}
		}
	}
}

@media screen and (min-width: $screen-sm-min ) {
	.gallery{
		.thumbnail{		
			height: 23vw;
			>img{
				height: 23vw;			
			}
		}
	}
}

@media screen and (min-width: $screen-md-min ) {
	.gallery{
		.thumbnail{		
			height: 22vw;
			>img{
				height: 22vw;			
			}
		}
	}
	#myCarousel{
		.carousel{
			&-control{			
				&.left{
				top: 45%;	
				left: -6%;			
				}
				&.right{
				top: 45%;	
				right: -6%;				
				}
			}
		}
	}
	
}

@media screen and (min-width: $screen-lg-min ) {
	.gallery{
		.thumbnail{		
			height: 20vw;
			>img{
				height: 20vw;			
			}
		}
	}
	
}







